/* src/index.css */

/* 1. Сбрасываем отступы по умолчанию у body */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; /* Шрифт по умолчанию на всякий случай */
}

/* 2. Объявляем наши глобальные переменные со шрифтами */
:root {
  --font-family: "Inika", sans-serif;
  --second-family: "Inknut Antiqua", sans-serif;
  --third-family: "Inria Sans", sans-serif;
}